* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    margin-top:20px;
    width:94%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(170deg, #005b03 0%, #3db412);
    color: #ffffff;
    text-align: center;
    border-radius: 15px;    
}

.header h1 {
    display: inline-block;
    color: #ffffff;
    font-size: 48px;
}

nav {
    text-align: center;
    width:90%;
    margin:20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background: linear-gradient(170deg, #005b03 0%, #3db412);
    display: inline-block;
    color: #ffffff;
    border-radius: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.portfolio {
    width: 90%;
    margin-left:20px;
    margin-bottom: 20px;
    padding: 25px;
    height: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background: linear-gradient(170deg, #005b03 0%, #3db412);
    color: #ffffff;
    border-radius: 15px;
}

.portfolio a {
    font-size: 20px;
    margin-top: 20px;
}

#deploy {
 font-size: 30px;
}

.portfolio img {
    max-width: 100%;
    border: 3px solid #ffffff;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.portfolio h3 {
    text-align: center;
}

.portfolio p {
    margin-top: 55px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}