* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #4a8059;
    color: #ffffff;
    text-align: center;
}

.header h1 {
    display: inline-block;
    color: #ffffff;
    font-size: 48px;
}

nav {
    text-align: center;
    width:90%;
    margin:20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: #4a8059;
    display: inline-block;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.aboutme {
    width: 90%;
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #4a8059;
    color: #ffffff;
}

.aboutme img {
    border: 3px solid #ffffff; 
    max-width: 100%;
}

.aboutme h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
